@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgb(239, 239, 244);
    --foreground: #171717;
}

/* Uncomment for Dark Mode:
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
*/
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'),
       url('/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', Verdana, Tahoma, Geneva, sans-serif; 
}