@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(239, 239, 244);
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@import '@fontsource/lato';

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', sans-serif; /* Apply to the whole body */
  font-family: Arial, Helvetica, sans-serif;
}
