/* globals.css - Dark Mode Overhaul */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --primary-color: #3399ff; /*Adjusted Neon Blue for better contrast */
  --prmary-color-hamster:#5f5ffc;
  --secondary-color: #9b30ff; /* Slightly lighter Purple */
  --glow: rgba(51, 153, 255, 0.7); /* Enhanced Blue Glow Effect */
  /* --font: "Lato", sans-serif; */
  --font: "Roboto", sans-serif;
  --fontCondensed: "Roboto Condensed", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--primary-color);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--foreground);
}

/* Header and Navigation */
.app-bar {
  background-color: #000000 !important;
  color: var(--foreground);
  box-shadow: none;
}

/* Buttons */
.button-glow {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 0 12px var(--glow);
}

.button-glow:hover {
  box-shadow: 0 0 25px var(--primary-color);
  transform: scale(1.05);
}

/* Card Updates */
.card {
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  padding: 20px;
  margin: 20px 0;
}

.card:hover {
  box-shadow: 0 0 18px var(--glow);
  transform: translateY(-5px);
}

/* Navigation Bar */
.bottom-nav {
  background-color: #000000 !important;
}

.bottom-nav .Mui-selected {
  /* color: var(--primary-color) !important; */
  /* fill: var(--foreground); */
  background-color: #1b1e23 !important;
}

.bottom-nav .MuiTab-root {
  min-width: 50px !important;
  
}

.bottom-nav .MuiTab-root .MuiSvgIcon-root {
  /* color: var(--foreground) !important; */
  text-transform:'none';
  fill: #fff !important;
}
